<div class="event_show">
  <p>
    <strong>Signed in as:</strong>
    <%= current_user.name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= current_user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= current_user.last_name %>
  </p>

  <p>
    <% current_user.events.each do |event| %>
      <strong>Event:</strong>
      <%= event.description %>
  </p>

  <p>
      <strong>Location: </strong>
      <%= event.location.name.capitalize %>
    <% end %>
  </p>
  
  <p>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to "Sign Out", signout_path %>
  </p>
</div>
