<div id="header">
  <h1 class="text-center"><%= current_user.name %></h1>
</div>

<div id="aside">
  <br />
  <div class="twitter-avatar">
    <%= image_tag high_res_profile %>
  </div>
  <div>
    <%= current_user.first_name %>
  </div><br />
  <div>
    <% current_user.events.each do |event| %>
      <strong>Event:</strong>
        <%= event.description %><br /><br />
      <strong>Location: </strong>
        <%= event.location.name.capitalize %>
    <% end %>
  </div><br />
  <div>
    <%= link_to "Edit My Info", edit_user_path(@user) %><br /><br />
    <%= link_to "Sign Out", signout_path %>
  </div>
</div>

<div id="section">
  <div class="future game">
    <h2 id="schedule-game">
      <%= link_to 'Schedule a B-ball game', locations_path %>
        <% Location.all.each do |location| %>
      <% end %>
    </h2>
  </div>
  <h2 id="view-games">View scheduled games</h2><br />
</div>
